@import '@/styles/variables.scss';

.brief {
    @include flex(column, flex-start, flex-start);
    @include glassmorphismEffect;
    gap: $spacing-sm;
    width: 100%;
    position: relative;
    padding: 5vh 2rem;
    z-index: 99;
    @include containerMaxWidth;

    @include respond-to(large-tablet) {
        padding: 0rem;
    }


    h2 {
        font-size: $body-font-size;
        color: $title-color;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        padding: $spacing-lg $spacing-sm;
        min-height: 35lvh;

        @media (min-width: 812px) and (max-width: 1255px) {
            padding: $spacing-lg;
        }
    }

    span {
        font-family: $title-font;
        font-size: $semi-big-font-size;
        color: $title-color;
        width: 60%;

        @include respond-to(small-tablet) {
            width: 100%;
            font-size: $body-font-size;
            line-height: 1.2;
            padding: 0;
            text-align: start;
        }
    }

    .miniServices {
        @include flexCenter(column);
        width: 100%;

        &__container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            p {
                @include respond-to(small-tablet) {
                    font-size: $small-font-size;
                }
            }
        }

    }
}