.brief {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    padding: var(--section-padding) 0;
    position: relative;
    background-color: var(--container-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(133, 132, 130, 0.3);
    border-radius: 2rem;
    padding: 5vh 2rem;
    z-index: 99;

    @media (max-width: 999px) {
        padding: 0rem;
    }

    @media (max-width: 555px) {
        padding-top: 5vh;
    }

    h2 {
        font-size: var(--body-font-size);
        color: var(--title-color);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 1rem;
        min-height: 35lvh;

        @media (min-width: 812px) and (max-width: 1255px) {
            padding: 2rem;
        }
    }

    span {
        font-family: var(--title-font);
        font-size: var(--semi-big-font-size);
        color: var(--title-color);
        width: 60%;

        @media (max-width: 570px) {
            width: 100%;
            font-size: var(--body-font-size);
            line-height: 1.2;
            padding: 0;
            text-align: start;
        }
    }

    .miniServices {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &__container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            p {
                @media (max-width: 555px) {
                    font-size: var(--small-font-size);
                }
            }
        }

    }
}