.logo_marquee {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background-color: var(--background-color);
    position: relative;
    z-index: 3;
    
    .container {
        mix-blend-mode: difference;
        margin: 0 auto;
        img {
            
            object-fit: contain;
            width: 7.5rem;
            height: 7.5rem;
            filter: grayscale(100%) invert(100%);
    
        }
    }
}



.logo_marquee_content {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    margin: 0 1rem;
}