.roundedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 1rem 2rem;
    background-color:rgba(230, 230, 230, .78);
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 1rem;;
    transition: var(--animation-primary);
    &:hover {
        transition: var(--animation-primary);
        background-color: rgba(215, 212, 212, 0.98);
    }
    p,
    a {
        position: relative;
        z-index: 1;
        transition: var(--animation-primary);
        color: var(--title-color);
    }

    &:hover {

        p,
        a {
            color: var(--title-color);
        }
    }
}

.circle {
    width: 100%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%;
}