@import "@/styles/variables.scss";

.header {
    position: relative;
    z-index: 99999;
    height: fit-content;




    .menu {
        width: 480px;
        height: 650px;
        background-color: $container-color;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 1px solid rgba(236, 234, 230, 0.3);
        border-radius: $border-radius-lg;
        position: relative;
    }
}