@import '@/styles/variables.scss';

.team {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: $section-padding $spacing-sm;
    position: relative;
    z-index: 10;
    @include containerMaxWidth;

    @include respond-to(laptop) {
        @include flexCenter(column);
    }

    @include respond-to(large-tablet) {
        padding-top: 5vh;
    }

    h3 {
        font-size: $big-font-size;
        color: $title-color;
        font-family: $body-font;
    }

}

.teamContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-sm;
    width: 100%;
    padding: $spacing-sm;

    @include respond-to(laptop) {
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        padding: 0;
        padding-top: 3vh;
    }

    .member {
        @include flex(column, center, flex-start);
        padding: $spacing-xxs;
        transition: $animation-primary;

        img {
            height: 40vh;
            width: 100%;
            object-fit: cover;
            border-radius: $border-radius-md;

            @include respond-to(small-tablet) {
                height: 30vh;
            }
        }

        h4 {
            font-size: $big-font-size;
            color: $title-color;
            font-family: $body-font;

            @include respond-to(small-tablet) {
                font-size: $medium-font-size;
            }
        }

        p {
            font-size: $normal-font-size;
            color: $text-color;
            font-family: $body-font;
        }
    }

}