@import "@/styles/variables.scss";

.contact {
    @include flexCenter(row);
    @include glassmorphismEffect;
    @include containerMaxWidth;
    align-items: stretch;
    padding: $spacing-md;
    background-color: var(--ui-dark-ob);
    width: 100%;
    gap: $spacing-lg;
    overflow: hidden;


    iframe {
        border-radius: $border-radius-lg !important;
    }

    @include respond-to(ipad) {
        margin-top: 10vh;
        @include flex(column, null, center);
        min-height: unset;
        gap: $spacing-md;
        padding: $spacing-sm;
    }

    @include respond-to(small-tablet) {
        padding: $spacing-sm;
    }

    h1 {
        margin-bottom: $spacing-ms;
    }


}