@import "@/styles/variables.scss";

.contact {
    @include flexCenter(row);
    align-items: stretch;
    padding: $spacing-md;
    background-color: var(--ui-dark-ob);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(133, 132, 130, 0.3);
    border-radius: $border-radius-xl;
    width: 100%;
    gap: $spacing-lg;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;


    iframe {
        border-radius: 1rem !important;
    }

    @include respond-to(ipad) {
        margin-top: 10vh;
        @include flex(column, null, center);
        min-height: unset;
        gap: $spacing-md;
        padding: $spacing-sm;
    }

    @include respond-to(small-tablet) {
        padding: $spacing-sm;
    }

    h1 {
        margin-bottom: 20px;
    }


}