.about {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--background-color);
    position: relative;
    z-index: 2;
}