@import '../../../../styles/variables';

.breadcrumbs {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    flex-wrap: wrap;
    padding: 0.625rem 0;
    font-size: $small-font-size;
}

.separator {
    margin: 0 5px;
    color: #666;
}

.crumbLink {
    color: $accent-color;
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
        text-decoration: underline;
    }
}