.workWithUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    place-content: start;
    place-items: start;
    background-color: var(--background-color);
    position: relative;
    z-index: 99;
    margin-top: 10vh;

    @media (max-width: 555px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    h3 {
        font-size: var(--bigger-font-size);
        color: var(--title-color);
        font-family: var(--body-font);
        @media (max-width: 570px) {
            font-size: var(--medium-font-size);
        }
    }

    p {
        font-size: var(--normal-font-size);
        color: var(--subtitle-color);
        font-family: var(--body-font);
        max-width: 50%;

        @media (max-width: 555px) {
            max-width: 95%;
        }

    }
}

.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
    place-items: start;

    @media (max-width: 555px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        min-height: 50vh;
        background-color: var(--container-color);
        border-radius: 1rem;
        padding: 1rem;

        @media (max-width: 555px) {
            min-height: 30vh;
        }
        h3 {
            font-size: var(--semi-big-font-size);
            color: var(--title-color);
            font-family: var(--body-font);
            padding-bottom: 1rem;
            @media (max-width: 570px) {
                font-size: var(--medium-font-size);
            }
        }
        p {
            font-size: var(--normal-font-size);
            color: var(--subtitle-color);
            font-family: var(--body-font);
            span {
                font-size: var(--normal-font-size);
                padding-left: 1rem;
                color: var(--subtitle-color);
            }
            padding-bottom: 1rem;
            width: 100%;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 1rem 2rem;
            background-color:rgba(230, 230, 230, .78);
            color: var(--title-color);
            font-size: var(--normal-font-size);
            font-family: var(--body-font);
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            gap: 1rem;;
            transition: var(--animation-primary);
            &:hover {
                transition: var(--animation-primary);
                background-color: rgba(215, 212, 212, 0.98);
            }
        }
    }
}