.marquee {
    width: 100%;
    background-color: var(--accent-color);
    text-align: center;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.marquee h3 {
    font-size: 5.875rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--body-font);
    display: flex;
    gap: 0.5rem;
    margin: 0 1rem;
}

.marquee .marquee-wrapper {
    width: 6250rem;
    animation: marqueeAnimation 68s linear 0s infinite running;
}

.marquee h3 .marquee-title {
    margin-right: 1.25rem;
    float: left;
}

.text-stroke-black {
    color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--subtitle-color);
}

@keyframes marqueeAnimation {
    100% {
        transform: translateX(-4600px);
    }
}


@media (max-width: 992px) {
    .marquee h3 {
        font-size: 60px;
    }
}

@media (max-width: 549px) {
    .marquee h3 {
        font-size: 50px;
    }
}

