.marquee {
    background-color: var(--accent-color);
    text-align: center;
    overflow: hidden;
    height: 100%;
    position: relative;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

.marquee h3 {
    font-size: 5.875rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--body-font);
    display: flex;
    gap: 0.5rem;
    margin: 0 1rem;
}

.marquee h3 .marquee-title {
    margin-right: 1.25rem;
    float: left;
}



@media (max-width: 992px) {
    .marquee h3 {
        font-size: 60px;
    }
}

@media (max-width: 549px) {
    .marquee h3 {
        font-size: 50px;
    }
}

