@import "@/styles/variables";

.video {
    width: 100%;
    border-radius: $border-radius-lg;
    @include containerMaxWidth;

    @include respond-to(small-tablet, max) {
        padding: $spacing-sx;
    }

    .content {
        @include flex(row, flex-start, center);
        width: 100%;
        gap: $spacing-lg;
        position: relative;
        z-index: 2;
    }

    video {
        width: 100%;
        height: 80vh;
        border-radius: 2rem;
        object-fit: cover;
        position: relative;
        z-index: 2;

        @include respond-to(small-tablet, max) {
            height: fit-content;
            margin-top: $spacing-sm;
        }
    }
}

.cursor,
.cursorLabel {
    @include flexCenter(row);
    width: 80px;
    height: 80px;
    border-radius: $border-radius-full;
    background-color: $accent-color;
    color: $title-color;
    font-family: $title-font;
    position: absolute;
    z-index: 2;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    pointer-events: none;

}

.cursorLabel {
    background-color: transparent;
}

.videoModal {
    @include flexCenter(row);
    @include position(fixed, 0, null, null, 0);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
    transition: $animation-primary;

    video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__close {
        @include position(absolute, 5rem, $spacing-lg, null, null);
        font-size: 3rem;
        color: $container-color;
        transition: $animation-primary;
        cursor: pointer;
        z-index: 999;

        &:hover {
            color: $accent-color;
        }
    }

}