.menuItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    position: relative;
    height: 100%;
    padding: 1rem 0;
    top: 0;

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
        width: 100%;
        gap: 1rem;
        color: var(--title-color);
        text-decoration: none;
        font-family: var(--body-font);
        font-size: 1rem;
        transition: color 0.3s ease;

        &:hover {
            color: var(--primary-color);
        }
    }

    .menuItem {
        // Your existing styles for menu items

        &.active {
            text-decoration: underline;
            font-family: var(--title-font);
        }
    }
}

.count {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    background-color: var(--title-color);
    color: #fff;
    font-size: var(--small-font-size);
}

.lower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;

}

.menuLinks,
.by,
.secondaryLinks {
    background-color: rgba(230, 230, 230, .68);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(236, 234, 230, 0.3);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    a {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        color: var(--title-color);
        font-family: var(--body-font);
        font-size: 1rem;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.by {
    flex-direction: row !important;
    justify-content: space-between !important;

    a {
        color: var(--subtitle-color);
    }
}

.social {
    display: flex;
    gap: 0.5rem;
}