

.count {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    background-color: var(--title-color);
    color: #fff;
    font-size: var(--small-font-size);
}

.lower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;

}

.menuLinks,
.by,
.secondaryLinks {
    background-color: rgba(230, 230, 230, .25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(236, 234, 230, 0.3);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    h3 {
        width: 100%;
    }
}

.by {
    flex-direction: row !important;
    justify-content: space-between !important;

    a {
        justify-content: flex-end !important;
        color: var(--subtitle-color);
        transition: var(--animation-primary);

        &:hover {
            color: var(--accent-color) !important;
        }
    }
}

.social {
    display: flex;
    gap: 0.5rem;
}