@import "@/styles/variables.scss";

.nav {

    @include flex(column, space-between, null);
    padding: 100px 10px 10px 10px;
    box-sizing: border-box;
    position: relative;
    gap: $spacing-sm;

    .body {
        @include flex(column, null, null);
        gap: $spacing-xs;
        overflow: hidden;
        background-color: $hover-color;
        border-radius: $border-radius;
        padding: $spacing-sm;
        border: 1px solid rgba(236, 234, 230, 0.3);

        .linkContainer {
            perspective: 120px;
            overflow: hidden;

            perspective-origin: bottom;
        }

        a {
            @include flex(row, null, center);
            gap: $spacing-sm;
            text-decoration: none;
            color: $title-color;
            font-size: $body-font-size;
        }
    }

    .footer {
        @include flex(column, null, null);
        gap: $spacing-sm;

        a {

            text-decoration: none;
            color: black;
        }
    }
}



.count {
    padding: $spacing-xxs $spacing-sx;
    border-radius: $border-radius-lg;
    background-color: $dark-ui;
    color: $title-color;
    font-size: $small-font-size;
}

.by,
.secondaryLinks {
    @include glassmorphismEffect;
    background-color: $hover-color;
    padding: $spacing-sm;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    width: 100%;


    ul {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
        list-style: none;

    }

    h3 {
        font-size: $normal-font-size;
    }

    h4,
    h3 {
        font-family: $body-font;
        font-weight: 300;
    }
}

.by {
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100% !important;

    a {
        justify-content: flex-end !important;
        color: $accent-color !important;
        transition: $animation-primary;
    height: fit-content;
        

        &:hover {
            color: $accent-color !important;
        }
    }
}

.social {
    display: flex;
    gap: $spacing-xs;

    &::marker {
        display: none;
    }

    li {
        list-style-type: none;

        &::marker {
            display: none;
        }
    }
}