@import "@/styles/variables";

.carousel {
    position: relative;
    z-index: 99;
    padding: 5vh 0;
    width: 100%;
    @include containerMaxWidth;

    @include respond-to(laptop) {
        padding: 3vh 0;
    }

    .carouselItem {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .carouselImage {
        object-fit: contain;
        transition: transform 0.3s ease;
        border-radius: $border-radius-lg;
        width: 100%;
        height: auto;
    }

    .carouselLink {
        @include flexCenter(column);
        height: 100%;
        text-decoration: none;
        color: inherit;

        img {
            object-fit: cover;
            transition: transform 0.3s ease;
            width: 700px;
            height: 500px;
            border-radius: $border-radius-lg;
        }
    }

    .itemTitle {
        margin-top: $spacing-xs;
        font-size: $normal-font-size;
        font-weight: bold;
        text-align: center;
        padding: 0 5px;

        @include respond-to(medium-tablet, min) {
            font-size: $body-font-size;
        }
    }
}

.keen-slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;

}

.keen-slider__slide {
    position: relative;
    overflow: visible;
    width: 100%;
    min-height: 250px;
}

.newsImage {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: $border-radius-lg;
    transition: transform 0.3s ease;
}