.carousel {
    position: relative;
    z-index: 99;
    padding: 5vh 0;
    width: 100%;
    @media (max-width: 1288px) {
        padding: 3vh 0;
    }

    .carouselItem {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .carouselLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-decoration: none;
        color: inherit;
        
            img {
                object-fit: cover;
                transition: transform 0.3s ease;
                width: 700px;
                height: 500px;
                border-radius: 1rem;
            }
    }

    .itemTitle {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding: 0 5px;

        @media (min-width: 768px) {
            font-size: 1.2rem;
        }
    }
}

.keen-slider {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    
}

.keen-slider__slide {
    position: relative;
    overflow: visible;
    width: 100%;
    min-height: 250px;
}