@import "@/styles/variables.scss";

.logo_wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing-lg;
    transition: $animation-primary;

    @include respond-to(medium-tablet, max) {
        padding: 0 $spacing-sm;
    }

}

.logo_image {
    width: clamp(4rem, 8vw, 7rem);
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    position: relative;
    top: 0.35rem;

    @include respond-to(medium-tablet, max) {
        width: clamp(5rem, 8vw, 7rem);
    }
}


.logo_marquee {
    @include glassmorphismEffect;
    background-color: #161616;
    margin: 0 auto;
    width: 100%;
    max-width: 95%;
    overflow: hidden;
    position: relative;
    z-index: 1;

    @include respond-to(medium-tablet, max) {
        max-width: 100%;
    }
}