.logo_marquee {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background-color: var(--ui-dark);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(133, 132, 130, 0.3);
    position: relative;
    z-index: 3;
    margin-top: 2.5vh;
    border-radius: 1rem;
    .container {
        mix-blend-mode: difference;
        width: 100%;
        margin: 0 auto;

        img {

            object-fit: contain;
            width: 6rem;
            height: 6rem;
            filter: grayscale(100%) invert(100%);
            border-radius: 1rem;
            @media (max-width: 555px) {
                width: 5rem;
                height: 5rem;
            }

        }
    }
}



.logo_marquee_content {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: fit-content;
}