:root {

  --container-color: rgba(230, 230, 230, .48);
  --title-color: #202020;
  --text-color: #444444;
  --subtitle-color: #6a6a6a;
  /* --accent-color: #5CE6A1; */
  --color1: #0080FF;
  --color2: #AAF0D1;
  --color3: #355BF5;
  --card-background-color: #ffffff;
  --primary-color: #000000;
  --secondary-color: #333333;
  --accent-color: #45B5AA;
  --accent-second-color: #327BC4;
  --lighter-text-color: #989898;
  --background-color: #FCFAF6;
  --border-color: #c1c1c1;
  --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);
  --section-padding: min(3.5vw, 3.5em);
  --border: 1px solid var(--border-color);

  /* Responsive Sizes  */

  --mobile: max-width: 767px;
  --tablet: max-width: 1168px;
  --desktop: 1424px;
  --big-desktop: 1940px;

  /* Fonts */

  --body-font: 'Satoshi-Regular', sans-serif;
  --subtitle-font: 'Avantt-Light', sans-serif;
  --medium-font: 'Helvetica', sans-serif;
  --title-font: 'Helvetica', sans-serif;
  --bold-font: 'Helvetica-Bold', sans-serif;
  --header-font: 'Youth-Medium', sans-serif;

  /* Font Sizes Based on Golden Ratio */



  --small-font-size: 0.8rem;
  --normal-font-size: 1rem;
  --body-font-size: 1.236rem;
  --medium-font-size: 1.318rem;
  --big-font-size: 1.618rem;
  --semi-big-font-size: 2rem;
  --bigger-font-size: 2.618rem;
  --biggest-font-size: 4.236rem;
  --navigation-font-size: 6.618rem;

  --body-font-weight: 400;
  --subtitle-font-weight: 100;
  --medium-font-weight: 500;
  --title-font-weight: 700;
  --heavy-font-weight: 900;
  --semi-bold-font-weight: 600;
  --gfs: 14.4;
  --gfs-1: 16.2;
  --title-size: clamp(5em, 7.5vw, 7.5em);
  --semi-title-size: clamp(3em, 5vw, 5em);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;

}

.no-scroll {
  overflow: hidden;
}


body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  pointer-events: none;
  height: auto;
}


::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
  margin-block: 0.35rem;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

::selection {
  background-color: var(--accent-color);
  color: var(--background-color);
}


::-webkit-scrollbar {
  display: none;
}

.hiddenn {
  display: none;
}


@font-face {
  font-family: 'OVSoge-Medium';
  src: url('../../public/fonts/OVSoge-Medium.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Youth-Medium';
  src: url('../../public/fonts/Youth-Medium.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt-Medium';
  src: url('../../public/fonts/Avantt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt-Bold';
  src: url('../../public/fonts/Avantt-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Avantt-Light';
  src: url('../../public/fonts/Avantt-Light.ttf') format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica.woff') format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('../../public/fonts/HelveticaNeueMedium.ttf') format("truetype");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../../public/fonts/Satoshi-Regular.woff2') format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
