.main {
    min-height: 100lvh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--container-color);
    border-radius: 4rem;
    position: relative;
    z-index: 2;

    @media (max-width: 456px) {
        border-radius: 3rem;
    }
}
