.main {
    min-height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--ui-dark);
    padding: 0.75rem;
    padding-top: 10vh;

}


.banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100lvh;
    background-color: var(--accent-color);

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        gap: 1rem;
    }
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 1rem 2rem;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 1rem;
    transition: var(--animation-primary);


    span {
        color: var(--background-color);
    }
    &:hover {
        transition: var(--animation-primary);
        background-color: var(--hover-color);
    }

    @media (max-width: 400px) {
        padding: 1rem;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 1rem 2rem;
    background-color: var(--card-color);
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    gap: 1rem;
    ;
    transition: var(--animation-primary);

    &:hover {
        transition: var(--animation-primary);
        background-color: var(--hover-color);
    }

    @media (max-width: 400px) {
        padding: 1rem;
    }
}