.featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    transition: var(--animation-primary);
    width: 100%;
    gap: 1rem;
    padding: 3rem;
    position: relative;
    z-index: 2;
}

