.featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    transition: var(--animation-primary);
    width: 100%;
    gap: 1rem;
    padding: 3rem;
    background-color: var(--title-color);
    border-radius: 4rem;

    @media (max-width: 999px) {
        padding: 1rem;
    }
    @media (max-width: 570px) {
        padding: 0.5rem;
        border-radius: 2rem;
    }

    h2 {
        font-size: var(--title-size);
        color: var(--container-color);
        transition: var(--animation-primary);
        text-align: left;

        @media (max-width: 570px) {
            font-size: var(--bigger-font-size);
            position: relative;
            top: 2rem;
        }
    }

    &__miniServices {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        padding: 1rem;

        @media (max-width: 570px) {
            padding: 0;
        }
        h3 {
            font-size: var(--semi-big-font-size);
            color: var(--container-color);
        }
        p {
            font-size: var(--body-font-size);
            color: var(--container-color);
        }
        &__container {
            display: flex;
            width: 100%;
            gap: 1rem;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;

            @media (max-width: 570px) {
                display: flex;
                gap: 1rem;
                justify-content: flex-start;
                align-content: flex-start;
            }
        }
        &__item {
            padding: 0.4rem;
        }
    }
}