.servicesContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: start;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color);
    position: relative;
    z-index: 2;
    padding: var(--section-padding) 1rem;

    @media (max-width: 855px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem;
        gap: 1rem;
        padding-top: 2.5vh;
    }

    .servicesList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-content: center;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;

        @media (max-width: 855px) {
            max-width: 100%;
        }

        @media (max-width: 655px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

    .specialCard {
        padding: 1.5rem;
        width: 100%;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        @media (max-width: 555px) {
            max-width: none;
            width: 100%;
        }

        h3 {
            font-size: 1.75rem;
            color: var(--title-color);
            font-family: var(--body-font);
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1.5rem;
            color: var(--subtitle-color);
        }
    }


    .serviceCard {
        background-color: var(--container-color);
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        width: 100%;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        padding-bottom: 10vh;
        @media (max-width: 555px) {
            max-width: none;
            width: 100%;
            padding-bottom: 1vh;
        }

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .serviceIcon {
            margin-right: 0.5rem;
            font-size: 1.75rem;
            color: var(--icon-color);
        }

        .serviceHeader {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;


            h3 {
                font-size: 1.75rem;
                color: var(--title-color);
                font-family: var(--body-font);
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 1.5rem 0;

            li {
                font-size: 1rem;
                color: var(--subtitle-color);
                margin-bottom: 0.5rem;
            }
        }

        a {
            text-decoration: none;
        }
    }
}