.servicesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    border-top: var(--border);
    background-color: var(--background-color);
    position: relative;
    z-index: 2;
    .servicesList {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        width: 100%;
    }

    .serviceCard {
        background-color: var(--container-color);
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        width: calc(33% - 2rem);
        min-width: 280px;
        max-width: 400px;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .serviceIcon {
            margin-right: 0.5rem;
            font-size: 1.75rem;
            color: var(--icon-color);
        }

        .serviceHeader {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;


            h3 {
                font-size: 1.75rem;
                font-weight: 500;
                color: var(--secondary-color);
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 1.5rem 0;

            li {
                font-size: 1rem;
                color: var(--text-color);
                margin-bottom: 0.5rem;
            }
        }

        a {
            text-decoration: none;
        }
    }
}
