@import "@/styles/variables";

.integration {
    @include flexCenter(column);
    width: 100%;
    @include glassmorphismEffect;
    @include containerMaxWidth;
    padding: 3vh 0;
    text-align: center;

    @include respond-to(ipad, max) {
        margin-top: 2.5vh;
    }


    h2 {
        font-size: $semi-big-font-size;
        color: $title-color;
        margin-bottom: $spacing-sm;
    }

    p {
        font-size: $normal-font-size;
        color: $subtitle-color;
        font-family: $body-font;
    }

    .upper {
        padding: $spacing-sx;
    }


    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: $spacing-sm;
        padding: $spacing-sm;
        place-content: center;
        place-items: center;
        justify-content: center;


        @include respond-to(medium-tablet, max) {
            @include flexCenter(column);
            height: fit-content;

        }

        img {
            width: 15vw;
            height: 20vh;
            object-fit: contain;
            padding: $spacing-sm;

            @include respond-to(medium-tablet, max) {

                width: 100%;
                height: 15vh;
            }

        }
    }
}