@import "@/styles/variables.scss";

.contact_right {
    display: flex;
    flex-direction: column;
    width: 80%;

    @include respond-to(ipad) {
        width: 100%;
    }

    &__container {
        @include flex(column, flex-end, flex-end);
        gap: $spacing-sm;
        padding: $spacing-sm;
        width: 100%;

        @include respond-to(ipad) {
            padding: 0;
        }

        &__input {
            @include flex(column, null, flex-start);
            width: 100%;
            padding: $spacing-sm;
            background-color: $container-color;
            color: $title-color;
            font-size: $normal-font-size;
            font-family: $body-font;
            border: none;
            border-radius: $border-radius-md;
            cursor: pointer;
            gap: $spacing-xxs;
            transition: $animation-primary;

            &:hover {
                transition: $animation-primary;
                background-color: $hover-color;
            }

            label {
                font-size: $medium-font-size;
                color: $title-color;
                margin-bottom: $spacing-xs;
            }

            input {
                font-size: $body-font-size;
                color: $title-color;
                padding: $spacing-xs 0;
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;

                &:focus {
                    outline: none;
                    border-bottom: 1px solid $accent-color;
                }

                @include respond-to(small-tablet) {
                    font-size: $small-font-size;
                }
            }

            textarea {
                font-size: $body-font-size;
                color: $title-color;
                padding: $spacing-xs 0;
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;

                &:focus {
                    outline: none;
                    border-bottom: 1px solid $accent-color;
                }

                @include respond-to(small-tablet) {
                    font-size: $small-font-size;
                }
            }
        }
    }

    .btn {
        padding-left: $spacing-sm;
        width: fit-content;
    }
}

.group {
    display: flex;
    align-items: center;
    width: 100%;
    gap: $spacing-sm;
}