.contact_right {
    display: flex;
    flex-direction: column;
    width: 80%;

    @media (max-width: 555px) {
        width: 100%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 100%;
        padding: 1rem;
        @media (max-width: 555px) {
            padding: 0;
        }
        &__input {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            padding: 1rem;
            background-color:var(--container-color);
            color: var(--title-color);
            font-size: var(--normal-font-size);
            font-family: var(--body-font);
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            gap: 0.25rem;;
            transition: var(--animation-primary);
            &:hover {
                transition: var(--animation-primary);
                background-color: var(--hover-color);
            }
            label {
                font-size: var(--medium-font-size);
                color: var(--title-color);
                margin-bottom: 0.5rem;
            }
            input {
                font-size: var(--body-font-size);
                color: var(--title-color);
                padding: 0.5rem 0;
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                &:focus {
                    outline: none;
                    border-bottom: 1px solid var(--accent-color);
                }
                @media (max-width: 555px) {
                    font-size: var(--small-font-size);
                }
            }
            textarea {
                font-size: var(--body-font-size);
                color: var(--title-color);
                padding: 0.5rem 0;
                width: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                &:focus {
                    outline: none;
                    border-bottom: 1px solid var(--accent-color);
                }
                @media (max-width: 555px) {
                    font-size: var(--small-font-size);
                }
            }
        }   
    }
    .btn {
        padding-left: 1rem;
        width: fit-content;
    }
}

.group {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}