@import "@/styles/variables";

.divider {
    @include flexCenter(column);
    width: 100%;
    height: 75vh;
    position: relative;
    z-index: 0;

    h2 {
        font-size: $navigation-font-size;
        color: $title-color;
        font-family: $title-font;
        text-align: center;

        @include respond-to(small-tablet) {
            font-size: $bigger-font-size;
        }
    }
}