.navbar {
    position: fixed;
    top: 1vh;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    max-height: 10vh;
    padding: 1rem;
    user-select: none;
    transition: var(--animation-primary);

    @media (max-width: 555px) {
        padding: 0.5rem;
    }

    &__container_left {
        position: relative;
        display: flex;
        gap: 1rem;
        width: 100%;
        height: fit-content;

        @media (max-width: 555px) {
            gap: 0.05rem;
        }
    }

}


.left {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    height: fit-content;

    @media (max-width: 555px) {
        width: 100%;
    }

    a {
        display: flex;
        align-items: center;

        position: relative;
        z-index: 9;


        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            display: block; // to remove any inline spacing

        }

        h2 {
            font-size: 1rem;
            font-family: var(--body-font);
            color: var(--title-color);
            cursor: pointer;
            transition: var(--animation-primary);
            padding: 0.5rem 1rem;
        }
    }
}

.right {
    gap: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        color: var(--title-color);
        transition: var(--animation-primary);

        &:hover {
            transition: var(--animation-primary);
            color: var(--accent-color);
        }
    }

    @media (max-width: 1088px) {
        display: none;
    }
}




.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--animation-primary);
    position: fixed;
    top: 0vh;
    right: 0;
    z-index: 999;
    @media (min-width: 1055px) {
        display: none;
    }

    @media (max-width: 555px) {
        height: fit-content;
    }

    h3 {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-family: var(--body-font);
        color: var(--title-color);
        cursor: pointer;

        svg {
            font-size: 0.5rem;
            margin-left: 0.5rem;
            transition: var(--animation-primary);
        }
    }
}

.fit {
    width: fit-content;
    align-items: center;
    height: fit-content;

    span {
        font-size: 1rem;
        font-family: var(--body-font);
        color: var(--ui-dark);
        cursor: pointer;
    }

}

