.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    max-height: 10vh;
    padding: 1rem;
    user-select: none;
    transition: var(--animation-primary);

    &__container_left {
        position: relative;
        display: flex;
        gap: 1rem;
        width: 100%;
        height: fit-content;
    }

}


.left {
    a {
        img {
            width: 3.5rem;
            height: 3.5rem;
            object-fit: contain;
            padding: 0.5rem;
            background: var(--container-color);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            border: 1px solid rgba(236, 234, 230, 0.3);
            border-radius: 1rem;
        }
    }

}

.right {
    gap: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;


    @media (max-width: 1088px) {
        display: none;
    }
}


.menuBar {
    position: relative;
    width: 20vw;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: var(--animation-primary);
    overflow: hidden; // Add this line

    @media (max-width: 1299px) {

    }

    @media (max-width: 1088px) {
        position: relative;
        width: 75vw ;
        align-items: center;
    }
}


.menu {
    background: var(--container-color);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(236, 234, 230, 0.3);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--animation-primary);


    @media (max-width: 555px) {
        height: fit-content;
    }

    h3 {
        font-size: 1rem;
        font-family: var(--body-font);
        color: var(--title-color);
        cursor: pointer;
    }
}

.fit {
    width: fit-content;
    height: fit-content;

    span {
        font-size: 1rem;
        font-family: var(--body-font);
        color: var(--title-color);
        cursor: pointer;
    }

}



.contact {
    display: flex;
    padding: 1rem;
    width: 20%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background: var(--container-color);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(236, 234, 230, 0.3);
    border-radius: 1rem;
    h3 {
        font-size: 1rem;
        font-family: var(--body-font);
        color: var(--title-color);
        line-break: loose;
        cursor: pointer;
    }


}

.menuUpper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: var(--animation-primary);
    padding-bottom: 1rem;
}
