@import '@/styles/_variables.scss';

.navbar {
    @include position(fixed, 1vh, null, null, 0);
    @include flex(row, space-between, null);
    width: 100%;
    z-index: 999;
    height: fit-content;
    max-height: 10vh;
    padding: $spacing-sm $spacing-md;
    user-select: none;
    transition: $animation-primary;
    margin: 0 auto;

    @include respond-to(ipad) {
        display: none;
    }

    &.scrolled {
        .container {
            padding: $spacing-xs;
            gap: $spacing-xs;
        }
    }

    &__container_left {
        position: relative;
        display: flex;
        gap: 1rem;
        width: 100%;
        height: fit-content;
    }
}

%flex-center {
    display: flex;
    align-items: center;
}

%link-styles {
    color: $title-color;
    font-size: $normal-font-size;
    font-family: $body-font-weight;
    cursor: pointer;
    transition: $animation-primary;

    &:hover {
        color: $accent-color;
    }
}

.left {
    @include flex(row, flex-start, flex-start);
    gap: $spacing-sm;
    position: relative;
    z-index: 999;
    width: 100%;
    height: fit-content;

    a {
        @extend %flex-center;
        position: relative;
        z-index: 9;

        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            display: block;
        }

        h2 {
            @extend %link-styles;
            padding: $spacing-xs $spacing-sm;

            @include respond-to(small-tablet) {
                padding: $spacing-xxs;
            }
        }
    }
}

.center,
.right {
    @extend %flex-center;
    gap: $spacing-sm;
    width: 100%;

    a {
        @extend %link-styles;
    }
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.container {
    @extend %flex-center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: $spacing-sm;
    padding: $spacing-sm;
    @include glassmorphismEffect;
    border-radius: $spacing-sm;
    position: relative;
    z-index: 1;
    will-change: padding, gap;
}

.mobileMenuContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;

    @media (min-width: 1088px) {
        display: none;
    }
}

.navbarContainer {
    width: 98%;
    height: 64px;
    margin: 0 auto;
    margin-top: $spacing-sm;
    @include glassmorphismEffect;
    border-radius: 1rem;
    overflow: hidden;
    pointer-events: all;
    z-index: 1000;

    @media (min-width: 1000px) {
        width: calc(100% - 4em);
        margin: $spacing-lg;
    }
}

.navbarBar {
    @include flex(row, space-between, center);
    width: 100%;
    height: 64px;
    padding: 0 $spacing-sm;
    padding-right: $spacing-sx;
}

.menuToggle {
    width: 60px;
    height: 60px;
    @include flex(row, flex-end, center);
}

.hamburgerIcon {
    @include flexCenter(row);
    position: relative;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 0.6rem;
    background: transparent;
    transition: $animation-primary;
    border: 1px solid rgba(133, 132, 130, 0.3);
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 1.5px;
        background: $title-color;
        transition: $animation-primary;
        transition-delay: 150ms;
        will-change: transform;
    }

    &:before {
        transform: translateY(-3px);
    }

    &:after {
        transform: translateY(3px);
    }

    &.active:before {
        transform: translateY(0) rotate(45deg);
    }

    &.active:after {
        transform: translateY(0) rotate(-45deg);
    }
}

.menuContent {
    @include flex(column, flex-end, null);
    width: 100%;
    height: calc(100% - 64px);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    overflow-y: auto;
}