@import '@/styles/variables.scss';

.servicesContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: start;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 2;
    padding: 15vh $spacing-sm;
    
    @include containerMaxWidth;

    @include respond-to(medium-tablet) {
        @include flex(column, center, flex-start);
        gap: $spacing-sm;
        padding-bottom: 4vh;
    }

    .servicesList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: $spacing-lg;
        width: 100%;


        @include respond-to(laptop) {
            max-width: 100%;
        }

        @include respond-to(small-tablet) {
            @include flex(column, center, flex-start);
        }

    }

    .specialCard {
        padding: $spacing-md;
        width: 100%;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        @include respond-to(small-tablet) {
            max-width: none;
            width: 100%;
            padding-left: 0;
        }

        h3 {
            font-size: $big-font-size;
            color: $title-color;
            font-family: $body-font;
            margin-bottom: $spacing-xs;
        }

        p {
            font-size: $medium-font-size;
            color: $subtitle-color;
        }
    }


    .serviceCard {
        @include glassmorphismEffect;
        padding: $spacing-md;
        width: 100%;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        padding-bottom: 10vh;

        @include respond-to(small-tablet) {
            max-width: none;
            width: 100%;
            padding-bottom: 1vh;
        }

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .serviceIcon {
            margin-right: $spacing-xs;
            font-size: $big-font-size;
            color: var(--icon-color);
        }

        .serviceHeader {
            @include flex(row, null, center);
            margin-bottom: $spacing-sm;


            h3 {
                font-size: $medium-font-size;
                color: $title-color;
                font-family: $body-font;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 $spacing-md 0;

            li {
                font-size: $normal-font-size;
                color: $subtitle-color;
                margin-bottom: $spacing-xs;
            }
        }

        a {
            text-decoration: none;
        }
    }
}