@import "@/styles/variables";

.newsHomePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3dvh 0;
    gap: $spacing-xl;
    position: relative;
    z-index: 99;

    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: $title-color;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        position: relative;
        text-align: center;

        @include respond-to(medium-tablet) {
            font-size: $big-font-size;
        }
    }

    &__upper {
        display: flex;
        align-items: center;
        position: relative;
        gap: $spacing-lg;
        width: 100%;

        h2 {
            flex-grow: 1;
            text-align: center;
        }
    }

}

.group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $spacing-sm;

    a {
        font-size: $normal-font-size;
        color: $title-color;
        transition: $animation-primary;

        &:hover {
            color: $accent-color;
        }
    }
}

.keen-slider {
    @include containerMaxWidth;
    height: auto;
}


.navigation-wrapper {
    position: relative;
}

.arrows {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    gap: $spacing-xs;
    cursor: pointer;
    background: none;
    border: none;
    font-size: $big-font-size;

    transition: opacity 0.3s ease;

    .arrow {
        background-color: $container-color;
        font-size: $body-font-size;
        padding: $spacing-xxs $spacing-xs;
        padding-top: $spacing-xs;
        color: $title-color;
        border-radius: 0.625rem;

        &:focus {
            outline: none;
        }

        &--disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }
}