.video {

    @media (max-width: 555px) {
        padding: 0.75rem;
    }
    .content {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        position: relative;
        z-index: 2;

        @media (max-width: 570px) {
            margin: 0;
        }
    }

    video {
        width: 100%;
        height: 80vh;
        border-radius: 2rem;
        object-fit: cover;
        position: relative;
        z-index: 2;

        @media (max-width: 570px) {
            height: fit-content;
            margin-top: 1rem;
        }
    }
}

.cursor,
.cursorLabel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--title-color);
    font-family: var(--title-font);
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 300;
    pointer-events: none;

}

.cursorLabel {
    background-color: transparent;
}

.videoModal {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

    video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__close {
        position: absolute;
        top: 5rem;
        right: 2rem;
        font-size: 3rem;
        color: var(--container-color);
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        z-index: 999;
        &:hover {
            color: var(--accent-color);
        }
    }

}
