@import "@/styles/variables";

.footer {
    @include flexCenter(column);
    color: white;
    position: relative;
    overflow: hidden;
    bottom: 0;
    @include containerMaxWidth;
    width: 100%;

    @include respond-to(small-tablet) {
        padding: $spacing-xs;
        padding-top: 10vh;
    }

    &__upper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: start;
        gap: $spacing-sm;
        width: 100%;
        height: 100%;
        padding-top: $spacing-lg;

        @media (min-width: 812px) and (max-width: 1255px) {
            grid-template-columns: 1fr 2fr;
        }


        @include respond-to(medium-tablet) {
            @include flexCenter(column);
            padding: $spacing-xs;
        }

        h2, p {
            font-size: $body-font-size;
            color: $title-color;
        }

        &_left {
            @include respond-to(medium-tablet) {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }
        }


        &_right {
            display: flex;
            flex-direction: column;
            gap: $spacing-sm;
            width: 100%;

            &_content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: $spacing-sm;
                width: 100%;
                height: 100%;
                place-content: start;



                @include respond-to(medium-tablet) {
                    @include flexCenter(column);
                }

                &_upper,
                &_lower {
                    display: flex;
                    flex-direction: column;
                    gap: $spacing-sm;
                    width: 100%;
                }

                &_lower {
                    nav {
                        @include flex(column, space-between, null);
                        gap: $spacing-lg;
                    }
                }
            }

        }
    }

    &__lower {
        display: flex;
        width: 100%;
        align-items: center;
        padding: $spacing-sm;
        padding-top: 0;

        span {
            font-size: $normal-font-size;
            color: $title-color;
            letter-spacing: -0.05rem;
        }



    }
}

.menuLinks {
    @include flex(column, null, flex-start);
    width: 100%;
    height: 100%;
    gap: $spacing-sm;
    position: relative;
    padding: $spacing-sm;
    top: 0;
    @include glassmorphismEffect;
    border-radius: 1rem;

    a {
        @include flex(row, flex-start, center);
        height: fit-content;
        width: 100%;
        gap: $spacing-sm;
        color: $title-color;
        text-decoration: none;
        font-family: $body-font;
        font-size: $normal-font-size;
        transition: $animation-primary;

        &:hover {
            color: $accent-color
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;

    }

    h3 {
        font-family: $body-font;
        font-weight: $body-font-weight;
    }
}

.count {
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    background-color: $dark-ui;
    color: $title-color;
    font-size: $small-font-size;
}

.by {
    @include flex(row, space-between, center);
    width: 100%;
    @include glassmorphismEffect;
    padding: $spacing-sm;
    border-radius: $border-radius-lg

    h3 {
        font-size: $normal-font-size;
        color: $title-color;
        font-family: $body-font;
        font-weight: 300;
    }

    a {
        font-size: $normal-font-size;
        color: $accent-color;
        text-decoration: none;

        &:hover {
            svg {
                color: $accent-color;
            }
        }

        svg {
            font-size: $normal-font-size;
            color: $title-color;
        }
    }
}

.social {
    display: flex;
    gap: $spacing-xs;
}

.visuallyHidden {
    display: none;
}