.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: var(--section-padding) 1rem;


    &__slide {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;

        @media (max-width: 777px) {
            align-items: flex-start;
        }

        &_container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            background-color: var(--container-color);
            border-radius: 1rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;

            padding: 1rem;
            gap: 0.5rem;
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

            &:hover {
                transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }


            @media (max-width: 555px) {
                width: 100%;
            }

            p {
                span {
                    font-size: var(--normal-font-size);
                    padding-left: 1rem;
                    color: var(--subtitle-color);
                }

                padding-bottom: 1rem;
                width: 100%;
                border-bottom: var(--border);
            }

            &_lower {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    object-fit: cover;
                }

            }
        }

        p {
            font-size: 1.1rem;
            color: var(--title-color);
            font-family: var(--body-font);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            text-align: left;
        }



        h4 {
            font-size: var(--normal-font-size);
            color: var(--title-color);
            font-family: var(--body-font);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            text-align: left;
        }

    }

    .swiper {
        width: 100%;
        height: 100%;
    }
}

.testimonialsDetailsModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: var(--container-color);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(236, 234, 230, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    cursor: pointer;
    transition: var(--animation-primary);
    border-radius: 2rem;

    .testimonialsDetailsContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 500px;
        min-width: 300px;
        min-height: 300px;

        h4 {
            color: var(--accent-color);
        }

        h3 {
            font-size: var(--big-font-size);
            color: var(--title-color);
            font-family: var(--title-font);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        }

        p {
            font-size: var(--body-font-size);
            color: var(--title-color);
            font-family: var(--body-font);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            text-align: center;
        }

        img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        font-size: 1.5rem;
        color: var(--title-color);
    }
}

.group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    a {
        font-size: var(--normal-font-size);
        color: var(--title-color);
        transition: var(--animation-primary);

        &:hover {
            color: var(--accent-color);
        }
    }
}

.arrows {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    padding: 1rem 2rem;
    gap: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--primary-color);
    transition: opacity 0.3s ease;

    .arrow {
        background-color: var(--container-color);
        font-size: 1.25rem;
        padding: 0.25rem 0.5rem;
        border-radius: 10px;

        &:focus {
            outline: none;
        }

        &--disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }
}