.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 2rem;;


    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        cursor: pointer;

        @media (max-width: 777px) {
            align-items: flex-start;
        }

        &_container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            background-color: var(--container-color);
            border-radius: 1rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;
            // max-height: 520px;
            // min-height: 300px;
            padding: 1rem;
            gap: 0.5rem;
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

            &:hover {
                transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }


            @media (max-width: 555px) {
                width: 100%;
            }

            &_middle {
                display: flex;
                gap: 0.5rem;
                align-content: center;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid var(--accent-color);
                padding-bottom: 0.5rem;

                span {
                    color: var(--title-color);

                }

                svg {
                    fill: var(--accent-color);
                    font-size: 1.4rem;
                }
            }
            &_lower {
                display: flex;
                gap: 1rem;
                align-items: center;
            }
        }

        p {
            font-size: 1.1rem;
            color: var(--title-color);
            font-family: var(--body-font);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            text-align: left;
        }

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
        }

        h4 {
            font-size: var(--normal-font-size);
            color: var(--title-color);
            font-family: var(--body-font);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            text-align: left;
        }

    }

    .swiper {
        width: 100%;
        height: 100%;
    }
}

.testimonialsDetailsModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: var(--container-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: 2rem;

    .testimonialsDetailsContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 500px;
        min-width: 300px;
        min-height: 300px;

        h3 {
            font-size: var(--big-font-size);
            color: var(--title-color);
            font-family: var(--title-font);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        }

        p {
            font-size: var(--body-font-size);
            color: var(--title-color);
            font-family: var(--body-font);
            transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            text-align: center;
        }

        img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
        font-size: 1.5rem;
        color: var(--title-color);
    }
}