@import '@/styles/variables.scss';

.clients {

    @include flexCenter(column);
    width: 100%;
    padding: $section-padding $spacing-sm;
    gap: 5vh;
    @include glassmorphismEffect;
    background-color: $dark-ui;

    @include respond-to(medium-tablet) {
        max-width: 100%;
        padding-top: 4vh;
    }

    h3 {
        font-size: $big-font-size;
        color: $title-color;
        font-family: $body-font;
    }

    .content {
        display: grid;
        grid-gap: $spacing-sm;
        width: 100%;
        height: 100%;
        align-items: stretch;
        justify-items: center;
        grid-template-columns: repeat(5, 1fr);


        @include respond-to(desktop) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include respond-to(laptop) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include respond-to(medium-tablet) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond-to(phone) {
            grid-template-columns: repeat(2, 1fr);
        }

        img {
            width: 100%;
            max-height: 100px;
            min-height: 100px;
            max-width: 175px;
            min-width: 175px;
            object-fit: contain;

            @include respond-to(laptop) {
                max-height: 70px;
                max-width: 130px;
                min-width: 130px;
            }

            @include respond-to(phone) {
                max-height: 50px;
                max-width: 100px;
                min-width: 100px;
            }
        }
    }
}