@import '@/styles/variables.scss';

.clients {

    @include flexCenter(column);
    width: 100%;
    

    @include respond-to(medium-tablet) {
        max-width: 100%;
        padding-top: 4vh;
    }

    h3 {
        font-size: $big-font-size;
        color: $title-color;
        font-family: $body-font;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        gap: $spacing-md;
        width: 100%;

        @include respond-to(large-tablet, max) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond-to(medium-tablet, max) {
            grid-template-columns: repeat(2, 1fr);
            gap: $spacing-md;
        }

        a {
            @include flexCenter(row);
        }


        img {
            width: 100%;
            height: auto;
            max-width: 200px;
            object-fit: contain;
        }
    }
}

.sectionContainer {
    padding: $section-padding $spacing-sm;
    @include glassmorphismEffect;
    @include containerMaxWidth;
    width: 100%;
    gap: 5vh;
}