.toggleCircle {
    position: fixed;
    right: 3%;
    top: 90%;
    z-index: 999999;
    width: 1vw;
    height: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle {
    width: 1rem;
    height: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.5px solid var(--border-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    top: 2rem;
    left: 0rem;
    cursor: pointer;
}

.half-circle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.blackcircle {

    background-color: var(--container-color);
    left: 0;
}

.whitecircle {
    background-color: var(--toggle-white-background);
    right: 0;
}

.circle.hovered {
    transform: rotate(180deg);
}



@media (max-width: 954px) {
    .toggleCircle {
        right: 7%;
        top: 90%;
    }
}


@media (max-width: 454px) {


    .circle {
        left: 0;
    }

    .toggle__main {
        display: none;
    }
}