@import "@/styles/variables";

.grid {
    display: flex;
    width: 100%;
    gap: 1rem;
    position: relative;
    z-index: 10;
    @include containerMaxWidth;

    @include respond-to(laptop) {
        flex-direction: column;
        max-width: 100%;
        padding: $spacing-sx;
    }
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $spacing-ms;
}


.projectItem {
    width: 100%;

    img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        border-radius: $border-radius-lg;
    }

    &__info {
        margin-top: 10px;

        h3 {
            margin: 0;
            font-size: $big-font-size;
            color: $title-color;
            font-family: $body-font;
            text-align: center;
        }

        p {
            margin: 5px 0 0;
            font-size: $small-font-size;
        }
    }
}

.productionImg {
    width: 100% !important;
    height: 20vh !important;
    border-radius: $border-radius-lg !important;
    object-fit: contain !important;
}