.iconContainer {
    position: absolute;
    right: 4rem;
    bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    z-index: 99;

    @media (max-width: 555px) {
        right: 1rem;
    }
}

.iconMenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    svg {
        font-size: 3rem;
        color: var(--accent-second-color);
        transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

        @media (max-width: 555px) {
            font-size: 2rem;
        }
    }

    &:hover svg {
        color: var(--accent-color);
        transform: scale(1.1);
    }

    &.flashing {
        animation: flash 1s infinite;
    }
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.9;
    }
}