@import "@/styles/variables";

.iconContainer {
    @include position(absolute, 10rem, 4rem, null,null);
    @include flex(column, null, flex-end);
    gap: $spacing-xs;
    z-index: 99;

    @include respond-to(small-tablet) {
        right: $spacing-lg;
        top: 13vh;
    }
}

.iconMenu {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    margin-top: $spacing-xs;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon {
    @include flexCenter(row);
    cursor: pointer;
    transition: transform 0.3s ease;

    svg {
        font-size: 3rem;
        color: $accent-color;

        @include respond-to(small-tablet) {
            font-size: $semi-big-font-size;
        }
    }
}


