.newsHomePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3dvh 0;
    gap: 3rem;
    position: relative;
    z-index: 99;

    h2 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--title-color);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        position: relative;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 1.6rem;
        }
    }

    &__upper {
        display: flex;
        align-items: center;
        position: relative; // Added to enable absolute positioning of h2
        gap: 2rem;
        width: 100%;

        h2 {
            flex-grow: 1;
            text-align: center;
        }
    }

}

.group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;

    a {
        font-size: var(--normal-font-size);
        color: var(--title-color);
        transition: var(--animation-primary);
        &:hover {
            color: var(--accent-color);
        }
    }
}

.keen-slider {
    max-width: 95vw;
    margin: 0 auto;
}


.navigation-wrapper {
    position: relative;
}

.arrows {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    gap: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    
    transition: opacity 0.3s ease;

    .arrow {
        background-color: var(--container-color);
        font-size: 1.25rem;
        padding: 0.25rem 0.5rem;
        padding-top: 0.5rem;
        color: var(--title-color);
        border-radius: 10px;
        &:focus {
            outline: none;
        }
        &--disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }
}

