.animatedTitle {
    display: flex;
    overflow: hidden;
    user-select: none;
    h2 {
        margin-top: 1.5rem;
        font-size: clamp(4.5vh, 7vw, 8vw);
        font-family: "CabinetGrotesk-Bold";
        color: var(--container-color);
        user-select: none;
        padding-left: 0.1rem;
        position: relative;

        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
        @media (max-width: 456px) {
            line-height: 0.88;
            font-size: 3.5vh;
        }
    }
}