@import "@/styles/variables";

.miniServices {
    @include flexCenter(column);
    width: 100%;

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-sm;

        p {
            @include respond-to(small-tablet, max) {
                font-size: $small-font-size
            }
        }
    }

}