@import "@../../../../app//variables.scss";

.fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.35;
    pointer-events: none;
}