.fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(135deg, var(--accent-color) 0, var(--accent-color) 10%, transparent 0, transparent 50%);
    background-size: 2em 2em;
    background-color: var(--ui-dark);
    opacity: 0.035;
    height: 100vh;
    pointer-events: none;
}